body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fa-solid{
    background-color: #ffc107;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 200%;
    height: 100%;
}
.top{
    height: 30px;
    width: 70%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}
ul li{
    align-self: center;
    list-style: none;
    height: 30px;
    font-weight: bold;
}
.border-right{
    padding-right: 30px;
    border-right: 2px solid white;
}
.border-left{
    padding-left: 30px;
    border-left: 2px solid white;
}
.color-blue{
    color:#2196f3;
}

.container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../project-files/images/landing-splash-bg.png');
}
.container-title h1{
    color: white;
    font-size: 60px;
}
.container-title h3{
    color: white;
    font-size: 20px;
    margin: 0;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
}
.product-title h3{
    margin-top: 0;
    color: #999999;
}
.product-title h2{
    font-size: 40px;
    margin-bottom: 0;
}
.product-title{
    padding: 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 5px 15px  rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 450px;
    padding: 10px;
    margin-left: 10px;
  }
  .card img{
      height: 50%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0px 15px 45px  rgba(0,0,0,0.35) ;
  }
  
  /* Add some padding inside the card container */
  .container {
      margin-top: 130px;
      height: 190px;
      display: flex;
      flex-direction: column;
      padding: 2px 16px;
  }
  .container span{
      color: #999999;
  }
  .container-button{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .container-button button{
      background-color: transparent;
      color: red;
      margin: 50px;
      height: 60px;
      width: 300px;
      border: 2px solid red;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      
  }
  .container-button button:hover{
      background-color: red;
      color: white;
  }
.container-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-buttons button{
    background-color: transparent;
    color: #2196f3;
    margin: 20px;
    height: 60px;
    width: 200px;
    border: 2px solid #2196f3;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
.container-buttons button:hover{
    background-color: #2196f3;
    color: white;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo img{
    margin-top: 20px;
    width: 50px;
    margin-bottom: 10px;
}
.border{
    margin: 0 auto;
    width: 2%;
    border-bottom: 2px solid #999999;
    margin-bottom: 10px;
}
.color-red{
    color: #f44336;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.company-sub{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 170px;
}
.categories-sub{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 170px;
}
.company-block{
    justify-content: left;
    margin-left: 250px;
    display: flex;   
}
.social{
    display: inline;
}
.fa-brands{
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
  }

.social a{
    color: black;
}