body {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav{
    align-items: center;
    background-color: #002;
    display: flex;
    justify-content: flex-start;
    align-items: left;
}

ul {
    align-content: center;
    align-items: stretch;
    color: #ffe;
    display: flex;
    height: 30px;
    width: 70%;
    justify-content: space-between;

}

ul li {
    align-self: center;
    list-style: none;
}

.border-rigth {
    padding-right: 30px;
    border-right: 1px solid white;
}

.border-style {
    padding-left: 30px;
    border-left: 1px solid white;
}

.color-blue {
    color: #41a1ff;
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 60vh;
    background-image: url("../assets/landing-splash-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.container-title h1 {
    font-size: 60px;
}

.container-title > h1, .container-title > h3 {
    color: #ffe;
}