body{
    display: flex;
    flex-direction: column;
width : 100%;
margin: 0;
padding: 0;

}

nav {
background-color: black;
display: flex;
justify-content: flex-start;
align-items: center;

}
ul {
    height: 30px;
    background-color: black;
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: stretch ;
    align-content: center;
}

ul li {
    align-self: center;
    list-style: none;
}
.border-left{
    padding-left: 15px;
    border-left: 2px solid white;
}
.border-right{
    padding-right: 15px;
    border-right: 2px solid white;
}
.color-blue{
    color: #2196f3;
}
.container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(../images/landing-splash-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.container-title >h1,
.container-title >h3 {
    color: white;
}
.container-title h1{
    font-family: sans-serif;
    font-size: 60px;
}
.container-title h3{
    font-family: sans-serif;
    margin: 0px;
}
.products{
display: flex;
}
.container-cards{
    display: flex;

}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 300px;
    padding: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 150px;
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button button {
  background-color: transparent;
  color: red;
  margin: 50px;
  height: 80px;
  width: 300px;
  border: 2px solid red;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.container-button button:hover {
  background-color: red;
  color: white;
}

.products-title h3{
    color: #999;
    margin-top: 0px;
}
.products-title h2{
    font-size: 40;
    margin-bottom: 0px;
}
.categories-title h3{
    color: #999;
    margin: 0px;

}
.categories-title h2{
    font-size: 40;
}
.container-button2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-button2 button {
    background-color: transparent;
    color: #2196f3;
    margin: 50px;
    height: 80px;
    width: 300px;
    border: 2px solid #2196f3;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .container-button2 button:hover {
    background-color: #2196f3;
    color: white;
  }
  
.logo
{
    display: flex;
    justify-content: center;
}

.footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.footer h2{
    color: red;
    font-family: sans-serif;
}

.footer p{
    font-family: sans-serif;
    font-size: 18;
    font-weight: bold;
}
.facebook{
    color: black;
}
.twitter{
    color: black;
}
.instagram{
    color: black;
}